{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Information"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=YOUR_HOST;Database=YOUR_DATABASE_DEV;Username=YOUR_USERNAME;Password=YOUR_PASSWORD;Port=5432;Pooling=true;"
  }
}
